/* FONT */
body {
    background-color: #ff0000;
    font-family: fantasy;
}
/* LOG IN CSS */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #90EE90;
    margin: 0;
}

.login-form {
    background: #FFFFFF;
    padding: 20px;
    border: 2px black solid;
    border-radius: 8px;
    width: 300px;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-contenct: center;
    align-items: center;
}

.login-button {
    padding: 10px 40px;
    border: none;
    background-color: #013220;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

/* header */
/*footer */

/* SIGN UP CSS */
/* header */
/*footer */
