/* LOG IN CSS */
html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #90EE90;
    margin: 0;
    padding: 0;
    height: 100%;
    font: bold;
    font-size: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 20px;
    border: 2px black solid;
    border-radius: 8px;
    width: 300px;
    height: 450px;
    text-align: center;
}

.login-button {
    padding: 10px 40px;
    border: none;
    background-color: #013220;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

/* header */
/*footer */

/* SIGN UP CSS */
/* header */

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 20px;
    border: 2px black solid;
    border-radius: 8px;
    width: 300px;
    height: 450px;
    text-align: center;
}

/*footer */
