/* Styles for SignUp page */
.signup-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #90EE90;
    height: 100vh;
    font-weight: bold;
    font-size: 20px;
}

/* Header styles */
.header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Content styles */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Fill available space */
    background-color: #e9e9e9;
}

/* Signup form styles */
.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 20px;
    border: 2px black solid;
    border-radius: 8px;
    width: 300px;
    height: 450px;
    text-align: center;
}

.signup-form header {
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-form p {
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    margin-bottom: 5px;
}

.signup-form input[type="email"],
.signup-form input[type="text"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.signup-form .signup-button {
    padding: 10px 40px;
    border: none;
    background-color: #013220;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.signup-form .signup-button:hover {
    background-color: #011d1b;
}

/* Footer styles */
.footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}